.centere {
    text-align: center !important;
    vertical-align: middle !important;
}
body {
    background-image: url('{% static \img\image-fondo2.jpg" %}');
    background-size: cover; /* Ajusta la imagen al tamaño de la ventana del navegador */
    background-position: center; /* Centra la imagen en la ventana del navegador */
}



h1 a{
    color: #ECCD00;
    font-family: 'Lobster';
}    
/* Parte de arriba */
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

  /*listas */
  .lista ul
{
   padding-right: 0px;
   padding-left: 0px;
   padding-bottom: 0px;
   padding-top: 0px;
   margin: 0px;
   color: aqua;
}
.lista li
{
   list-style-type: none;
   display: inline;
   padding-right: 5px;
   cursor: all-scroll;

}